
    <header-detail [hidden]="hideHeader"></header-detail>
    <div [class]="appType" [hidden]="hideBody">
        <left-menu-detail [hidden]="hideLeftMenu"></left-menu-detail>
        <!-- Main content -->
        <main class="main" >
            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 hidden-md-down" >
            <breadcrumbs></breadcrumbs>        
        </ol>
        <div [class]="containerType">
            <router-outlet (updatedData)="inputValue = $event">{{inputValue}}</router-outlet>
            <!-- /.conainer-fluid -->
            </div>
        </main>
        <right-menu-iframe [hidden]="hideRightMenu"></right-menu-iframe>
    </div>
    <footer class="app-footer" [hidden]="hideFooter">
        <a href="https://brandinstitute.com">BI</a> &copy; 2017 Brand Institute.
        <span class="float-right">
        Powered by <a href="https://brandinstitute.com">IS TEAM</a>
    </span>
    </footer>
