	
	
	<div class="animated fadeIn">
		<iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(iframesrc)" width="100%" height="1200" scrolling="no">
			<p>Your browser does not support iframes.</p>
	</iframe>
	</div>

<!--<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="card-group mb-0">
					<div class="animated fadeIn">
						<div class="row">
							<div class="col-md-4">
								<div class="row dragdrop" [dragula]='"second-bag"'>
									<div class="col-md-12">
										<div [class]="cardClass">
											<div class="card-header drag">
												{{websiteTitle}}
											</div>
											<div class="card-block">												
												<iframe src="http://www.brandinstitute.com/about.asp" width="100" height="100" scrolling="no">
													<p>Your browser does not support iframes.</p>
												</iframe>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div [class]="cardClass">
											<div class="card-header drag">
												website title
											</div>
											<div class="card-block">
												
												<iframe src="http://www.brandinstitute.com" width="100" height="100" scrolling="no">
													<p>Your browser does not support iframes.</p>
												</iframe>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div [class]="cardClass">
											<div class="card-header drag">
												website title
											</div>
											<div class="card-block">
												
												<iframe src="http://www.brandinstitute.com" width="100" height="100" scrolling="no">
													<p>Your browser does not support iframes.</p>
												</iframe>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div [class]="cardClass">
											<div class="card-header drag">
												website title
											</div>
											<div class="card-block">
												
												<iframe src="http://www.brandinstitute.com" width="100" height="100" scrolling="no">
													<p>Your browser does not support iframes.</p>
												</iframe>
											</div>
										</div>
									</div>
								</div>
							</div>						
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>-->