
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>gems | One Page</title>
        <!-- Plugins CSS -->
        <link href="./assets/html/css/plugins/plugins.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="./assets/html/css/style.css" rel="stylesheet">
    </head>
   
        <div [hidden]="true" id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->

        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse header-transparent sticky">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="./assets/html/images/logo-white.png" alt="logo"></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a data-scroll class="nav-link" href="index.html">Home</a></li>                   
                    <li class="nav-item dropdown">
                        <span class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Extras
                        </span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="index.html">Original</a>
                            <a class="dropdown-item" href="index-alt.html">Original alt</a>
                            <a class="dropdown-item" href="index-agency.html">Minimal Agency</a>
                            <a class="dropdown-item" href="index-vimeo.html">vimeo video</a>
                            <a class="dropdown-item" href="index-youtube.html">Youtube video</a>
                            <a class="dropdown-item" href="index-offcanvas.html">Offcanvas Nav</a>
                            <a class="dropdown-item" href="journal.html">journal</a>
                            <a class="dropdown-item" href="journal-detail.html">journal Detail</a>
                            <a class="dropdown-item" href="project-single.html">Portfolio Detail</a>
                            <a class="dropdown-item" href="typography.html">Typography</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link bg-primary btn-rounded" href="#">Buy Now</a></li>
                </ul>
            </div>
        </nav><!--/.navbar-->
        <div class="page-bread bg-parallax mb70" data-jarallax='{"speed": 0.2}' style='background-image: url("./assets/html/images/bg3.jpg")'>
            <div class='hero-overlay'></div>
            <div class="">
                <div class="container">
                    <div class="row">
                        <div class=" col-md-8  offset-md-2 text-center">
                            <h1>We build Gems for you</h1>
                            <p>
                                Gems is a modern and clean onepage parallax website template, Gems includes most advanced features like <strong>Bootstrap4, Sass, Gulp workflow, Css3 animations, parallax, video, youtube video heros and lot's of other awesome features.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.page-bread-->
        <div class="container-fluid mb40">
            <h3 class="text-uppercase text-title text-center mb40">Pick a style</h3>
            <div class="row">
                <div class="col-md-4 mb30">
                    <div class="demo-card">
                        <a href="index.html" target="_blank" class="demo-link">
                            <img src="./assets/html/images/demos/original.png" alt="" class="img-fluid">
                            <span class="btn btn-lg btn-white-outline">Preview</span>
                        </a>
                        <h4 class="text-uppercase">original</h4>
                    </div>
                </div><!--col-->
                <div class="col-md-4 mb30">
                    <div class="demo-card">
                        <a href="index-alt.html" target="_blank" class="demo-link">
                            <img src="./assets/html/images/demos/alt.png" alt="" class="img-fluid">
                            <span class="btn btn-lg btn-white-outline">Preview</span>
                        </a>
                        <h4 class="text-uppercase">original alt</h4>
                    </div>
                </div><!--col-->
                <div class="col-md-4 mb30">
                    <div class="demo-card">
                        <a href="index-agency.html" target="_blank" class="demo-link">
                            <img src="./assets/html/images/demos/agency.png" alt="" class="img-fluid">
                            <span class="btn btn-lg btn-white-outline">Preview</span>
                        </a>
                        <h4 class="text-uppercase">Creative agency</h4>
                    </div>
                </div><!--col-->
            </div>
            <div class="row">
                <div class="col-md-4 mb30">
                    <div class="demo-card">
                        <a href="index-vimeo.html" target="_blank" class="demo-link">
                            <img src="./assets/html/images/demos/vimeo.png" alt="" class="img-fluid">
                            <span class="btn btn-lg btn-white-outline">Preview</span>
                        </a>
                        <h4 class="text-uppercase">Vimeo Video</h4>
                    </div>
                </div><!--col-->
                <div class="col-md-4 mb30">
                    <div class="demo-card">
                        <a href="index-youtube.html" target="_blank" class="demo-link">
                            <img src="./assets/html/images/demos/youtube.png" alt="" class="img-fluid">
                            <span class="btn btn-lg btn-white-outline">Preview</span>
                        </a>
                        <h4 class="text-uppercase">Youtube Video</h4>
                    </div>
                </div><!--col-->
                <div class="col-md-4 mb30">
                    <div class="demo-card">
                        <a href="index-offcanvas.html" target="_blank" class="demo-link">
                            <img src="./assets/html/images/demos/offcanvas.png" alt="" class="img-fluid">
                            <span class="btn btn-lg btn-white-outline">Preview</span>
                        </a>
                        <h4 class="text-uppercase">Offcanvas Nav</h4>
                    </div>
                </div><!--col-->
            </div>
        </div>
        <div class="bg-faded pt90 pb60">
            <div class="container text-center">
                <h3 class="text-uppercase text-title text-center mb40">Modern Tools</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-4 mb30 wow zoomIn" data-wow-delay=".1s" data-wow-duration=".4s">
                        <div class="icon-box mb20">
                            <i class="ti-twitter"></i>
                        </div>
                        <h4 class="text-uppercase">Bootstrap4</h4>
                        <p class="mb0">
                            Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                        </p>
                    </div><!--/.col-->
                    <div class="col-lg-4 col-md-4 mb30 wow zoomIn" data-wow-delay=".2s" data-wow-duration=".6s">
                        <div class="icon-box mb20">
                            <i class="ti-css3"></i>
                        </div>
                        <h4 class="text-uppercase">Real use of Sass</h4>
                        <p class="mb0">
                            Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                        </p>
                    </div><!--/.col-->
                    <div class="col-lg-4 col-md-4 mb30 wow zoomIn" data-wow-delay=".3s" data-wow-duration=".8s">
                        <div class="icon-box mb20">
                            <i class="ti-mobile"></i>
                        </div>
                        <h4 class="text-uppercase">100% Responsive</h4>
                        <p class="mb0">
                            Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                        </p>
                    </div><!--/.col-->
                   
                </div>
                <div class="row">
                     <div class="col-lg-4 col-md-4 mb30 wow zoomIn" data-wow-delay=".4s" data-wow-duration=".7s">
                        <div class="icon-box mb20">
                            <i class="fa fa-html5"></i>
                        </div>
                        <h4 class="text-uppercase">Gulp Workflow</h4>
                        <p class="mb0">
                            Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                        </p>
                    </div><!--/.col-->
                    <div class="col-lg-4 col-md-4 mb30 wow zoomIn" data-wow-delay=".5s" data-wow-duration=".8s">
                        <div class="icon-box mb20">
                            <i class="fa fa-code"></i>
                        </div>
                        <h4 class="text-uppercase">Well coded</h4>
                        <p class="mb0">
                            Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                        </p>
                    </div><!--/.col-->
                      <div class="col-lg-4 col-md-4 mb30 wow zoomIn" data-wow-delay=".6s" data-wow-duration=".9s">
                        <div class="icon-box mb20">
                            <i class="fa fa-plus"></i>
                        </div>
                        <h4 class="text-uppercase">Video & image popups</h4>
                        <p class="mb0">
                            Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                        </p>
                    </div><!--/.col-->
                </div>
            </div>
        </div>
        <div class="container pt50 pb50 text-center">
            <p class="lead mb0">
                Grab a copy of <strong>GEMS</strong> today and get all future updates absolutely free.
            </p>  
        </div>
        <footer id="footer" class="footer  pt90 pb90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-google"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-linkedin"></i></a>
                            </li>
                        </ul>
                        <span>&copy; Copyright 2020. All Right Reserved. GEMS</span>
                    </div>
                </div>
            </div>
        </footer>
        <!--back to top-->
        <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="./assets/html/js/plugins/plugins.js"></script> 
        <script src="./assets/html/js/gems.custom.js"></script> 
        <script src="./assets/html/bower_components/jarallax/jarallax.js"></script> 
