<div class="row justify-content-center">
	<div class="col-md-12">
		<div class="card-group mb-0">
			<div class="card p-2">
				<div class="card-block animated fadeIn">
					<img [class]="toggleMobile" [src]="'./assets/img/ionic.png'" alt="Brand Institute">
					<!--<h3>BI Panel Members</h3>-->
					<h4 class="text-primary mb-2 ">We are sorry to see you go !</h4>
					<p class="text-muted">Please tell us why</p>
					<div class="input-group mb-1">
						<!--<span class="input-group-addon"><i class="icon-user-unfollow"></i></span>-->
						<input type="text" class="form-control" placeholder="Subject" [(ngModel)]="userName">
					</div>
					<div class="row">
						<div class="col-12 text-right ">
							<textarea class="form-control" placeholder="Reason to unsubscribe"></textarea>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-12 text-right ">
							<button type="button" class="btn btn-primary " (click)="findAccount()">Un-Subscribe</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!--<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="card-group mb-0">
					<div class="card p-2">
						<div class="card-block animated fadeIn" >							
							<img  (click)="animateToggle()" [style.webkitAnimationPlayState]="animationState" [class]="toggleMobile"
							 [src]="'./assets/img/logoSite.jpg'" alt="Brand Institute">							
	
							<h4 class="text-primary mb-2 ">Lets find your account</h4>
							<p class="text-muted">Please provide your email </p>
							<div class="input-group mb-1">
								<span class="input-group-addon"><i class="icon-user"></i></span>
								<input type="text" class="form-control" placeholder="email address" [(ngModel)]="userName">
							</div>							
							<div class="row">
								<div class="col-12 text-right ">
									<button type="button" class="btn btn-primary " (click)="findAccount()">Find Account</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->