<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="card-group mb-0">
					<div class="card p-2">
						<div class="card-block animated fadeIn">
							<img (click)="animateToggle()" [style.webkitAnimationPlayState]="animationState" [class]="toggleMobile" [src]="'./assets/img/logoSite.jpg'"
							 alt="Brand Institute">
							<!--<h3>BI Panel Members</h3>-->
							<h4 class="text-primary mb-2 ">Password Reset</h4>
							<p class="text-muted">Please insert new pasword </p>
							<div class="input-group mb-1">
								<span class="input-group-addon"><i class="icon-user"></i></span>
								<input type="text" class="form-control" placeholder="Username" [(ngModel)]="userName">
							</div>
							<div class="input-group mb-1">
								
								<span class="input-group-addon"><i class="icon-lock"></i></span>
								<input [type]="(showPwd)?'text':'password'" class="form-control" placeholder="New password" [(ngModel)]="password">
								<span class="input-group-addon">
       							  <input type="checkbox" [(ngModel)]="showPwd" placement="top" tooltip="show password" aria-label="password">
      							</span>
							</div>
							<div class="input-group mb-1">
								<span class="input-group-addon"><i class="icon-lock"></i></span>
								<input [type]="(showPwd)?'text':'password'" class="form-control" placeholder="Repeat new password" [(ngModel)]="newpassword">
								<span class="input-group-addon">
       							  <input type="checkbox" [(ngModel)]="showPwd" placement="top" tooltip="show password" aria-label="password">
      							</span>
							</div>
							<div class="row">
								<div class="col-12 text-right ">
									<button type="button" class="btn btn-primary " (click)="resetPassword()">Reset</button>
								</div>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>