<div class="sidebar">

     
    <div class="sidebar-header">
      <img src="assets/img/avatars/8.jpg" class="img-avatar" alt="Avatar">
      <div><strong>Cesar Vega</strong></div>
      <div class="text-muted"><small>Software Designer &amp; Engineer</small></div>

      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-link">
          <i class="icon-settings"></i>
        </button>
        <button type="button" class="btn btn-link">
          <i class="icon-speech"></i>
          <span class="badge badge-warning badge-pill">5</span>
        </button>
        <button type="button" class="btn btn-link">
          <i class="icon-user"></i>
        </button>
      </div>
    </div>

    <nav class="sidebar-nav">
        <!--<ul class="nav" [hidden]="!hideMainMenu">
            <li class="nav-title">
                Common Settings2
            </li>
            <li class="nav-title">
                Input Settings
            </li>
            <li class="nav-item">
                <label style="margin-left: 15px; font-size:12px;">Label's Text:</label><br>
                <input type="text" placeholder="label text" style="margin-left: 15px;" [(ngModel)]="labelText" (keyup)="updateLabel(labelText)" />
            </li>
            <li class="nav-title">
                Style Settings
            </li>
            <li class="nav-item">
                <label style="margin-left: 15px; font-size:12px;">Font Size: {{labelSize}}</label><br>
                <input type="range" placeholder="label text" style="margin-left: 15px;" [(ngModel)]="labelSize" (input)="updateLabelSize(labelSize)" />
            </li>
            <li class="nav-item">
                <label style="margin-left: 15px; font-size:12px;">Alignment:</label><br>
                <div class="btn-group" role="group" style="margin-left: 15px;" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" (click)="updateLabelAlignment('left')">Left</button>
                    <button type="button" class="btn btn-secondary" (click)="updateLabelAlignment('center')">Center</button>
                    <button type="button" class="btn btn-secondary" (click)="updateLabelAlignment('right')">Right</button>
                </div>
            </li>

        </ul>-->
        <ul class="nav" [hidden]="hideMainMenu">
            <li class="nav-title">
                Dashboard
            </li>
            <li class="nav-item">
                <a class="nav-link  mobile-sidebar-toggler"  routerLinkActive="active" [routerLink]="['/dashboard']"  ><i class="icon-speedometer"></i>Home <span class="badge badge-warning">8</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="open" [routerLink]="['/uikits/invoicing/invoice']"><i class="icon-credit-card"></i>Earnings<span class="badge badge-info">New</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="open" [routerLink]="['/people']"><i class="icon-user"></i>Profile<span class="badge badge-danger">10 %</span></a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                Help
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link  mobile-sidebar-toggler  nav-dropdown-toggle"  [routerLink]="['/uikits/email/message']"><i class="icon-puzzle"></i>Contact Us</a>
                <!--<ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/components/buttons']"><i class="icon-puzzle"></i> Projects Open</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><i class="icon-puzzle"></i> Social Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/components/cards']"><i class="icon-puzzle"></i> Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/components/forms']"><i class="icon-puzzle"></i> Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/components/modals']"><i class="icon-puzzle"></i> Modals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/components/switches']"><i class="icon-puzzle"></i> Switches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/components/tables']"><i class="icon-puzzle"></i> Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/components/tabs']"><i class="icon-puzzle"></i> Tabs</a>
                    </li>
                </ul>-->
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link  mobile-sidebar-toggler nav-dropdown-toggle" [routerLink]="['/forgotpassword']"><i class="icon-star"></i>Un-Subscribe</a>
                <!--<ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/icons/font-awesome']"><i class="icon-star"></i> Surveys not completed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/icons/glyphicons']"><i class="icon-star"></i> Glyphicons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/icons/glyphicons-filetypes']"><i class="icon-star"></i> Filetypes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/icons/glyphicons-social']"><i class="icon-star"></i> Glyphicons Social</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/icons/simple-line-icons']"><i class="icon-star"></i> Simple Line Icons</a>
                    </li>
                </ul>-->
            </li>
             <li class="nav-item">
                <a class="nav-link  mobile-sidebar-toggler" [routerLink]="['/']"><i class="icon-logout"></i>Log Out</a>
            </li>
            <!--<li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link  mobile-sidebar-toggler nav-dropdown-toggle" [routerLink]="['/forms/advanced-forms']"><i class="icon-note"></i>log out</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/forms/basic-forms']"><i class="icon-note"></i> Basic Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/forms/advanced-forms']"><i class="icon-note"></i> Advanced Forms</a>
                    </li>
                </ul>
            </li>-->
            <!--<li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link  mobile-sidebar-toggler nav-dropdown-toggle" href="#"><i class="icon-energy"></i> Plugins</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/plugins/calendar']"><i class="icon-calendar"></i> Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/plugins/datatable']"><i class="icon-menu"></i> DataTable</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/plugins/draggable-cards']"><i class="icon-cursor-move"></i> Draggable Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/plugins/loading-buttons']"><i class="icon-cursor"></i> Loading Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/plugins/notifications']"><i class="icon-info"></i> Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/plugins/spinners']"><i class="fa fa-spinner"></i> Spinners</a>
                    </li>
                </ul>
            </li>-->

            <!--WIDGETS-->
            <!--<li class="nav-item">
                <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/widgets']"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
            </li>-->

            <!--CHARTS-->
            <!--<li class="nav-item">
                <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/charts']"><i class="icon-pie-chart"></i> Data Mining</a>
            </li>-->
            <li class="divider"></li>
            <!--<li class="nav-title">
                Extras
            </li>-->
            <!--<li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link  mobile-sidebar-toggler nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i> Error 404</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  mobile-sidebar-toggler" routerLinkActive="active" [routerLink]="['/pages/500']"><i class="icon-star"></i> Error 500</a>
                    </li>
                </ul>
            </li>-->
            <!--UI Kits-->
            <!--<li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-layers"></i> UI Kits</a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item nav-dropdown" routerLinkActive="open">
                        <a class="nav-link  mobile-sidebar-toggler nav-dropdown-toggle" href="#"><i class="icon-speech"></i> Invoicing</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/uikits/invoicing/invoice']"><i class="icon-speech"></i> Invoice</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav-dropdown-items">
                    <li class="nav-item nav-dropdown" routerLinkActive="open">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-speech"></i> Email</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/uikits/email/inbox']"><i class="icon-speech"></i> Inbox</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/uikits/email/message']"><i class="icon-speech"></i> Message</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/uikits/email/compose']"><i class="icon-speech"></i> Compose</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>-->
            <li class="divider m-h"></li>
            <li class="nav-title">
                Survey Status
            </li>
            <li class="nav-item px-1 hidden-cn">
                <div class="text-uppercase mb-q">
                    <small><b>Surveys Done</b>
                        </small>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small class="text-muted">348m Surveys done.</small>
            </li>
            <li class="nav-item px-1 hidden-cn">
                <div class="text-uppercase mb-q">
                    <small><b>Surveys in progress</b>
                        </small>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small class="text-muted">114k</small>
            </li>
            <li class="nav-item px-1 hidden-cn">
                <div class="text-uppercase mb-q">
                    <small><b>Surveys available </b>
                        </small>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small class="text-muted">24645k</small>
            </li>

        </ul>
    </nav>
</div>