$title-font:'Poppins', sans-serif;
$styled-font:'Merriweather', serif;
$base-font:'Roboto', sans-serif;
$primary-color:#3EA98D;
$danger-color:#c9302c;
$success-color:#5cb85c;
$warning-color:#f0ad4e;
$default-color:#f7f7f7;
$dark-color:#212121;
$info-color:#5bc0de;

