.biFooter {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: 1;
    // margin-top: 10px;
}

.biHelpStyle {
    // position: absolute;
    // bottom: 5px;
    // right: 0;
    // z-index: 2;
    float: right;
    bottom: -85px;
    z-index: 20;
}