<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>gems | One Page</title>
    <!-- Plugins CSS -->
    <link href="./assets/html/css/plugins/plugins.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="./assets/html/css/style.css" rel="stylesheet">
</head>

<div [hidden]="true" id="preloader">
    <div id="preloader-inner"></div>
</div>
<!--/preloader-->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    <a class="navbar-brand" href="index.html"><img src="./assets/html/images/logo-dark.png" alt="logo"></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a data-scroll class="nav-link active" href="#home">Home</a></li>
            <li class="nav-item"><a data-scroll class="nav-link" href="#about">About</a></li>
            <li class="nav-item"><a data-scroll class="nav-link" href="#services">Services</a></li>
            <li class="nav-item"><a data-scroll class="nav-link" href="#folio">Portfolio</a></li>
            <li class="nav-item"><a data-scroll class="nav-link" href="#news">Journal</a></li>
            <li class="nav-item"><a data-scroll class="nav-link" href="#contact">Contact</a></li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Extras
                        </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="index.html">Original</a>
                    <a class="dropdown-item" href="index-alt.html">Original alt</a>
                    <a class="dropdown-item" href="index-agency.html">Minimal Agency</a>
                    <a class="dropdown-item" href="index-vimeo.html">vimeo video</a>
                    <a class="dropdown-item" href="index-youtube.html">Youtube video</a>
                    <a class="dropdown-item" href="index-offcanvas.html">Offcanvas Nav</a>
                    <a class="dropdown-item" href="journal.html">journal</a>
                    <a class="dropdown-item" href="journal-detail.html">journal Detail</a>
                    <a class="dropdown-item" href="project-single.html">Portfolio Detail</a>
                    <a class="dropdown-item" href="typography.html">Typography</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link bg-primary btn-rounded" href="#">Buy Now</a></li>
        </ul>
    </div>
</nav>
<!--/.navbar-->

<!-- SECTION 1 -->
<section id='home' class="hero heroFullscreen bg-parallax" data-jarallax='{"speed": 0.2}' [style.background]="'url('+sectionOneImage+')'">
    <div class='hero-overlay'></div>
    <div class="d-flex align-items-center">
        <div class="scroll-to hero-mouse"><a data-scroll="" href="#about"><i class="ti-angle-down"></i></a></div>
        <div class="container">
            <div class="row">
                <div class=" col-md-8  offset-md-2 text-center">
                    <div class="tlt hero-tlt">
                        <ul class="texts mb0">
                            <li *ngFor="let item of sectionOneList" data-out-effect="fadeOut" data-in-effect="fadeIn">{{item}}</li>
                        </ul>
                    </div>
                    <div class="buttons">
                        <a data-scroll href="#about" class="btn btn-white-outline btn-lg">{{sectionOneButtonOne}}</a>
                        <a data-scroll href="#folio" class="btn btn-primary btn-lg">{{sectionOneButtonTwo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/.hero-->
<!-- /SECTION 1 -->

<!-- SECTION 2 -->
<section id="about" class="pt90 pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="section-title">
                    <h4>{{sectionTwoTitle}}</h4>
                    <p class="lead">{{sectionTwoDescription}}</p>
                </div>
            </div>
        </div>
        <!--/section title-->
        <p class='mb40 text-center'>
            {{sectionTwoParagraph}}
        </p>
        <div class="row">
            <div *ngFor="let item of sectionTwoCards" class="col-md-4 mb30 wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
                <div class="media icon-box">
                    <div class="d-flex mr-4">
                        <i [class]='item.icon'></i>
                    </div>
                    <div class="media-body">
                        <h4 class="mt-0 text-uppercase">{{item.title}}
                        </h4>
                        <p class='mb0 text-small'>
                            {{item.paragraph}}
                        </p>
                    </div>
                </div>
            </div>
            <!--/col-->
        </div>
    </div>
</section>
<!--about us-->
<!-- /SECTION 2 -->

<!-- SECTION 3 -->
<div class="parallax-cta pt90 pb60 bg-parallax" data-jarallax='{"speed": 0.2}' [style.background]="'url('+sectionThreeImage+')'">
    <div class="container">
        <div class="row">
            <div *ngFor="let item of sectionThree" class="col-lg-3 col-md-6 mb30 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s">
                <div class="media fun-facts">
                    <div class="d-flex align-self-center mr-4">
                        <i [class]='item.icon'></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mt-0 text-uppercase display-4 text-white">{{item.title}}</h3>
                        <p class='mb0 text-small text-uppercase'>{{item.description}}</p>
                    </div>
                </div>
            </div>
            <!--/col-->
        </div>
    </div>
</div>
<!--/.fun facts-->
<!-- /SECTION 3 -->

<!-- SECTION 4 -->
<section id="services" class="pt90 pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="section-title">
                    <h4>{{sectionFourTitle}}</h4>
                    <p class="lead">{{sectionFourDescription}}</p>
                </div>
            </div>
        </div>
        <!--/section title-->

        <div class="row">
            <div *ngFor="let item of sectionFourCards" class="col-lg-3 col-md-6 mb30 wow zoomIn" data-wow-delay=".1s" data-wow-duration=".2s">
                <div class="icon-box mb20">
                    <i [class]="item.icon"></i>
                </div>
                <h4 class="text-uppercase">{{item.title}}</h4>
                <p class="mb0 text-small">{{item.description}}</p>
                <hr>
                <ul class="list-unstyled text-small">
                    <li *ngFor="let list of item.list">{{list}}</li>
                </ul>
                <a href="#" class="btn-link btn-sm">{{item.linkSources[0]}}</a>
            </div>
            <!--/.col-->
        </div>
    </div>
</section>
<!--Services-->
<!-- /SECTION 4 -->

<!-- SECTION 5 -->
<div class="extra-services pt90 pb90 bg-parallax" data-jarallax='{"speed": 0.2}' [style.background]="'url('+sectionFiveImage+')'">
    <div class="extra-service-bg mb60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 mb30">
                    <h2 class=" wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".3s">
                        {{sectionFiveTitle}}
                    </h2>
                </div>
                <!--/.col-->
                <div *ngFor="let item of sectionFiveCards" class="col-md-4 mb30">
                    <div class="media">
                        <div class="d-flex mr-3">
                            <i [class]="item.icon"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="mt-0">{{item.title}}</h4>
                            {{item.paragraph}}
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->

        </div>
    </div>
    <div class="mb30 text-center container">
        <a href="#" class="btn btn-lg btn-primary">{{sectionFiveButtonOne}}</a>
    </div>
</div>
<!--Extra Services-->
<!-- /SECTION 5 -->

<!-- SECTION 6 -->
<div class="bg-faded pt90 pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="section-title">
                    <h4>{{sectionSixTitle}}</h4>
                    <p class="lead">{{sectionSixDescription}}</p>
                </div>
            </div>
        </div>
        <!--/section title-->
        <div class="row align-items-center">
            <div *ngFor="let item of sectionSixCards" class="col-md-4 mb30 wow zoomIn" data-wow-delay=".2s" data-wow-duration=".3s">
                <div class="price-card">
                    <h4>{{item.title}}</h4>
                    <hr>
                    <p class="mb0">{{item.paragraph}}</p>
                    <hr>
                    <a href="#" class="btn btn-rounded btn-lg btn-secondary">{{item.footerButtons[0].description}}</a>
                </div>
            </div>
            <!--/col-->
        </div>
    </div>
</div>
<!--/pricing-->
<section id="folio" class="bg-parllax sectionDark pt100 pb70" data-jarallax='{"speed": 0.2}' style='background-image: url("./assets/html/images/bg2.jpg")'>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="section-title">
                    <h4>Recent Projects</h4>
                    <p class="lead">libero ex dapibus diam expound the actual teachings of the great explorer of the truth</p>
                </div>
            </div>
        </div>
        <!--/section title-->
        <ul class="filter-list list-inline margin-b-40 text-center">
            <li class="is-checked" data-filter="*">All</li>
            <li data-filter=".design">Design</li>
            <li data-filter=".app">App</li>
            <li data-filter=".development">Development</li>

        </ul>
        <div class="row filter-row popup-row">
            <div class=" design col-md-4 col-sm-6 col-lg-3 mb30 filter-item">
                <div class="work-card">
                    <img src="./assets/html/images/w1.jpg" alt="" class="img-fluid">
                    <div class="work-overlay">
                        <div class="overlay-content">
                            <div>
                                <h4>Beautiful Folio</h4>
                                <em>Lorem Ipsum</em>
                            </div>
                            <a class="popup-gallery" href="./assets/html/images/w1.jpg"><i class="ti-zoom-in"></i></a>
                            <a href="project-single.html"><i class="ti-fullscreen"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class=" app col-md-4 col-sm-6 col-lg-3 mb30 filter-item">
                <div class="work-card">
                    <img src="./assets/html/images/w2.jpg" alt="" class="img-fluid">
                    <div class="work-overlay">
                        <div class="overlay-content">
                            <div>
                                <h4>Beautiful Folio</h4>
                                <em>Lorem Ipsum</em>
                            </div>
                            <a class="popup-gallery" href="./assets/html/images/w2.jpg"><i class="ti-zoom-in"></i></a>
                            <a href="project-single.html"><i class="ti-fullscreen"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class=" development col-md-4 col-sm-6 col-lg-3 mb30 filter-item">
                <div class="work-card">
                    <img src="./assets/html/images/w3.jpg" alt="" class="img-fluid">
                    <div class="work-overlay">
                        <div class="overlay-content">
                            <div>
                                <h4>Beautiful Folio</h4>
                                <em>Lorem Ipsum</em>
                            </div>
                            <a class="popup-gallery" href="./assets/html/images/w3.jpg"><i class="ti-zoom-in"></i></a>
                            <a href="project-single.html"><i class="ti-fullscreen"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class=" design col-md-4 col-sm-6 col-lg-3 mb30 filter-item">
                <div class="work-card">
                    <img src="./assets/html/images/w4.jpg" alt="" class="img-fluid">
                    <div class="work-overlay">
                        <div class="overlay-content">
                            <div>
                                <h4>Beautiful Folio</h4>
                                <em>Lorem Ipsum</em>
                            </div>
                            <a class="popup-gallery" href="./assets/html/images/w4.jpg"><i class="ti-zoom-in"></i></a>
                            <a href="project-single.html"><i class="ti-fullscreen"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class=" app col-md-4 col-sm-6 col-lg-3 mb30 filter-item">
                <div class="work-card">
                    <img src="./assets/html/images/w5.jpg" alt="" class="img-fluid">
                    <div class="work-overlay">
                        <div class="overlay-content">
                            <div>
                                <h4>Beautiful Folio</h4>
                                <em>Lorem Ipsum</em>
                            </div>
                            <a class="popup-gallery" href="./assets/html/images/w5.jpg"><i class="ti-zoom-in"></i></a>
                            <a href="project-single.html"><i class="ti-fullscreen"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class=" development app col-md-4 col-sm-6 col-lg-3 mb30 filter-item">
                <div class="work-card">
                    <img src="./assets/html/images/w6.jpg" alt="" class="img-fluid">
                    <div class="work-overlay">
                        <div class="overlay-content">
                            <div>
                                <h4>Beautiful Folio</h4>
                                <em>Lorem Ipsum</em>
                            </div>
                            <a class="popup-gallery" href="./assets/html/images/w6.jpg"><i class="ti-zoom-in"></i></a>
                            <a href="project-single.html"><i class="ti-fullscreen"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class=" design development col-md-4 col-sm-6 col-lg-3 mb30 filter-item">
                <div class="work-card">
                    <img src="./assets/html/images/w7.jpg" alt="" class="img-fluid">
                    <div class="work-overlay">
                        <div class="overlay-content">
                            <div>
                                <h4>Beautiful Folio</h4>
                                <em>Lorem Ipsum</em>
                            </div>
                            <a class="popup-gallery" href="./assets/html/images/w7.jpg"><i class="ti-zoom-in"></i></a>
                            <a href="project-single.html"><i class="ti-fullscreen"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class=" design app col-md-4 col-sm-6 col-lg-3 mb30 filter-item">
                <div class="work-card">
                    <img src="./assets/html/images/w8.jpg" alt="" class="img-fluid">
                    <div class="work-overlay">
                        <div class="overlay-content">
                            <div>
                                <h4>Beautiful Folio</h4>
                                <em>Lorem Ipsum</em>
                            </div>
                            <a class="popup-gallery" href="./assets/html/images/w8.jpg"><i class="ti-zoom-in"></i></a>
                            <a href="project-single.html"><i class="ti-fullscreen"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <div class="text-center pt40">
            <h4 class="text-uppercase text-white">
                The most features rich one page template on the market.
            </h4>
        </div>
    </div>
    <!--./container-->
</section>
<!--folio-->
<div class="pt90 pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="section-title">
                    <h4>Gems Army</h4>
                    <p class="lead">libero ex dapibus diam expound the actual teachings of the great explorer of the truth</p>
                </div>
            </div>
        </div>
        <!--/section title-->
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mb30">
                <div class="person-card wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">
                    <div class="person-thumb">
                        <img src="./assets/html/images/team-1.jpg" alt="" class="img-fluid">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="person-content">
                        <h4 class="text-uppercase mb0">John Doe</h4>
                        <span>Managing Director</span>
                    </div>
                </div>
                <!--/person card-->
            </div>
            <!--/col-->
            <div class="col-sm-6 col-md-4 col-lg-3 mb30">
                <div class="person-card wow fadeIn" data-wow-duration=".3s" data-wow-delay=".2s">
                    <div class="person-thumb">
                        <img src="./assets/html/images/team-2.jpg" alt="" class="img-fluid">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="person-content">
                        <h4 class="text-uppercase mb0">John Doe</h4>
                        <span>Managing Director</span>
                    </div>
                </div>
                <!--/person card-->
            </div>
            <!--/col-->
            <div class="col-sm-6 col-md-4 col-lg-3 mb30">
                <div class="person-card wow fadeIn" data-wow-duration=".4s" data-wow-delay=".3s">
                    <div class="person-thumb">
                        <img src="./assets/html/images/team-3.jpg" alt="" class="img-fluid">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="person-content">
                        <h4 class="text-uppercase mb0">John Doe</h4>
                        <span>Managing Director</span>
                    </div>
                </div>
                <!--/person card-->
            </div>
            <!--/col-->
            <div class="col-sm-6 col-md-4 col-lg-3 mb30">
                <div class="person-card wow fadeIn" data-wow-duration=".5s" data-wow-delay=".4s">
                    <div class="person-thumb">
                        <img src="./assets/html/images/team-4.jpg" alt="" class="img-fluid">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="person-content">
                        <h4 class="text-uppercase mb0">John Doe</h4>
                        <span>Managing Director</span>
                    </div>
                </div>
                <!--/person card-->
            </div>
            <!--/col-->
        </div>
    </div>
</div>
<!--/team-->
<div class="pt90 pb60 bg-faded">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="section-title">
                    <h4>How we do</h4>
                    <p class="lead">libero ex dapibus diam expound the actual teachings of the great explorer of the truth</p>
                </div>
            </div>
        </div>
        <!--/section title-->
        <div class="row process-row">
            <div class="col-lg-3 col-md-6 mb30 text-center">
                <div class="process-icon mb20">
                    <i class="ti-search"></i>
                </div>
                <!--/icon-->
                <h4 class="text-uppercase">Research</h4>
                <p>
                    Vestibulum placerat, ipsum vel mollis ornare, libero ex dapibus diam, gravida tempor.
                </p>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-6 mb30 text-center">
                <div class="process-icon mb20">
                    <i class="ti-pencil"></i>
                </div>
                <!--/icon-->
                <h4 class="text-uppercase">Planing</h4>
                <p>
                    Vestibulum placerat, ipsum vel mollis ornare, libero ex dapibus diam, gravida tempor.
                </p>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-6 mb30 text-center">
                <div class="process-icon mb20">
                    <i class="ti-settings"></i>
                </div>
                <!--/icon-->
                <h4 class="text-uppercase">Develop</h4>
                <p>
                    Vestibulum placerat, ipsum vel mollis ornare, libero ex dapibus diam, gravida tempor.
                </p>
            </div>
            <!--/col-->
            <div class="col-lg-3 col-md-6 mb30 text-center">
                <div class="process-icon mb20">
                    <i class="ti-car"></i>
                </div>
                <!--/icon-->
                <h4 class="text-uppercase">Launch</h4>
                <p>
                    Vestibulum placerat, ipsum vel mollis ornare, libero ex dapibus diam, gravida tempor.
                </p>
            </div>
            <!--/col-->
        </div>
    </div>
</div>
<!--/process-->
<div class="textillate-container bg-parllax parallax-overlay pt100 pb100" data-jarallax='{"speed": 0.2}' style='background-image: url("./assets/html/images/bg4.jpg")'>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="tlt">
                    <ul class="texts mb0">
                        <li data-out-effect="fadeOut" data-in-effect="fadeInDown">Digital Studio</li>
                        <li data-out-effect="fadeOut" data-in-effect="fadeIn">Creative Agency</li>
                        <li data-out-effect="fadeOut" data-in-effect="zoomIn">24/7 Customer support</li>
                    </ul>
                </div>
                <p class="mb20">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                </p>
                <a href="#" class="btn btn-white-outline btn-lg">Buy Now</a>
            </div>
        </div>
    </div>
</div>
<!--/ animated text-->
<section id="news" class="pt90 pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="section-title">
                    <h4>From Journal</h4>
                    <p class="lead">libero ex dapibus diam expound the actual teachings of the great explorer of the truth</p>
                </div>
            </div>
        </div>
        <!--/section title-->
        <div class='owl-row'>
            <div class="owl-news owl-theme owl-carousel">
                <div class="item">
                    <div class='post-card'>
                        <div class='post-thumb mb20'>
                            <a href='post-detail.html'>
                                <img src='./assets/html/images/img1.jpg' alt='' class='img-fluid'>
                            </a>
                        </div>
                        <!--/.thumb-->
                        <div class='post-meta'>
                            <h4><a href='#'>Great color combination</a></h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </p>
                        <div class='text-right'>
                            <a href='post-detail.html' class='btn btn-link'>Read More</a>
                        </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item">
                    <div class='post-card'>
                        <div class='post-thumb mb20'>
                            <a href='post-detail.html'>
                                <img src='./assets/html/images/img2.jpg' alt='' class='img-fluid'>
                            </a>
                        </div>
                        <!--/.thumb-->
                        <div class='post-meta'>
                            <h4><a href='#'>Enjoy your free time</a></h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </p>
                        <div class='text-right'>
                            <a href='post-detail.html' class='btn btn-link'>Read More</a>
                        </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item">
                    <div class='post-card'>
                        <div class='post-thumb mb20'>
                            <a href='post-detail.html'>
                                <img src='./assets/html/images/img3.jpg' alt='' class='img-fluid'>
                            </a>
                        </div>
                        <!--/.thumb-->
                        <div class='post-meta'>
                            <h4><a href='#'>Beautiful watch with gems</a></h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </p>
                        <div class='text-right'>
                            <a href='post-detail.html' class='btn btn-link'>Read More</a>
                        </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item">
                    <div class='post-card'>
                        <div class='post-thumb mb20'>
                            <a href='post-detail.html'>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class='embed-responsive-item' src="https://player.vimeo.com/video/79293746" width="730" height="319" allowfullscreen></iframe></div>
                            </a>
                        </div>
                        <!--/.thumb-->
                        <div class='post-meta'>
                            <h4><a href='#'>Post with vimeo video</a></h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </p>
                        <div class='text-right'>
                            <a href='post-detail.html' class='btn btn-link'>Read More</a>
                        </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item">
                    <div class='post-card'>
                        <div class='post-thumb mb20'>
                            <a href='post-detail.html'>
                                <img src='./assets/html/images/img2.jpg' alt='' class='img-fluid'>
                            </a>
                        </div>
                        <!--/.thumb-->
                        <div class='post-meta'>
                            <h4><a href='#'>Enjoy your free time</a></h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </p>
                        <div class='text-right'>
                            <a href='post-detail.html' class='btn btn-link'>Read More</a>
                        </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item">
                    <div class='post-card'>
                        <div class='post-thumb mb20'>
                            <a href='post-detail.html'>
                                <img src='./assets/html/images/img3.jpg' alt='' class='img-fluid'>
                            </a>
                        </div>
                        <!--/.thumb-->
                        <div class='post-meta'>
                            <h4><a href='#'>Beautiful watch with gems</a></h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </p>
                        <div class='text-right'>
                            <a href='post-detail.html' class='btn btn-link'>Read More</a>
                        </div>
                    </div>
                </div>
                <!--/.item-->
            </div>
        </div>
    </div>

</section>
<!--/ Journal-->
<div class='testimonials bg-parllax parallax-overlay sectionDark pt90 pb60' data-jarallax='{"speed": 0.2}' style='background-image: url("./assets/html/images/bg2.jpg")'>
    <div class='container'>
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="section-title">
                    <h4>Customer Reviews</h4>
                    <p class="lead">libero ex dapibus diam expound the actual teachings of the great explorer of the truth</p>
                </div>
            </div>
        </div>
        <!--/section title-->

        <div class='owl-feedback owl-carousel owl-theme'>
            <div class='item'>
                <div class='row align-items-center'>
                    <div class='col-md-2 offset-md-1'>
                        <img src='./assets/html/images/team-1.jpg' alt='' class='rounded-circle img-fluid' width='120'>
                    </div>
                    <div class='col-md-8'>

                        <p class='lead'>
                            " Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum, hendrerit elit sed, condimentum magna. Suspendisse imperdiet purus vel ornare cursus. "
                        </p>
                        <h4 class="text-uppercase mb5">Emily Doe</h4>
                        <em>Gems customers</em>
                    </div>
                </div>
            </div>
            <!--/item-->
            <div class='item'>
                <div class='row align-items-center'>
                    <div class='col-md-2 offset-md-1'>
                        <img src='./assets/html/images/team-2.jpg' alt='' class='rounded-circle img-fluid' width='120'>
                    </div>
                    <div class='col-md-8'>

                        <p class='lead'>
                            " Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum, hendrerit elit sed, condimentum magna. Suspendisse imperdiet purus vel ornare cursus. "
                        </p>
                        <h4 class="text-uppercase mb5">Emily Doe</h4>
                        <em>Gems customers</em>
                    </div>
                </div>
            </div>
            <!--/item-->
            <div class='item'>
                <div class='row align-items-center'>
                    <div class='col-md-2 offset-md-1'>
                        <img src='./assets/html/images/team-3.jpg' alt='' class='rounded-circle img-fluid' width='120'>
                    </div>
                    <div class='col-md-8'>

                        <p class='lead'>
                            " Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum, hendrerit elit sed, condimentum magna. Suspendisse imperdiet purus vel ornare cursus. "
                        </p>
                        <h4 class="text-uppercase mb5">Emily Doe</h4>
                        <em>Gems customers</em>
                    </div>
                </div>
            </div>
            <!--/item-->
        </div>
    </div>
</div>
<!--/ Testimonials-->
<section id="contact" class="pt90 pb60 bg-faded">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <div class="section-title">
                    <h4>Contact Us</h4>
                    <p class="lead">libero ex dapibus diam expound the actual teachings of the great explorer of the truth</p>
                </div>
            </div>
        </div>
        <!--/section title-->
        <div class="row">
            <div class="col-md-6 mb30">
                <iframe height="380" frameborder="0" style="border:0;width:100%;" class="mb0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJWalJ2wO6j4AR4A9dNSj2ATI&key=AIzaSyAcC0a6iry-BDvy1LA4EFqlvKBGTdZELJA
                                " allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h4 class="text-uppercase">Say Hello!</h4>
                <hr>
                <form method="post" action="#" class="gems-contact">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class=" mb20">
                                <input type="text" name="name" class="form-control" placeholder="Full Name...." />
                            </div>
                            <div class=" mb20">
                                <input type="text" name="email" class="form-control" placeholder="Email Address...." />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <textarea name="message" class="form-control mb20" rows="5" placeholder="Message...."></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="data-status"></div>
                            <!-- data submit status -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" name="submit" class="btn btn-lg btn-primary">Send Message</button>
                        </div>
                    </div>
                </form>
                <!--form end-->
            </div>
        </div>

    </div>
</section>
<!--/.contact-->
<div class="bg-primary contact-info pt50 pb20">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb30">
                <div class="media">
                    <div class="d-flex mr-3">
                        <i class="ti-home"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0">Address</h5>
                        124, Munna Wali, Lorem Street<br> Sydney, Australia<br>302012
                    </div>
                </div>
            </div>
            <!--/.col-->
            <div class="col-md-4 mb30">
                <div class="media">
                    <div class="d-flex mr-3">
                        <i class="ti-headphone"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0">Phone & fax</h5>
                        +01 12 301 963<br> +01 33 399 939
                    </div>
                </div>
            </div>
            <!--/.col-->
            <div class="col-md-4 mb30">
                <div class="media">
                    <div class="d-flex mr-3">
                        <i class="ti-email"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0">Email & website</h5>
                        support@gems.com<br> www.gemsagency.new
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
</div>
<!--/.contact-info-->
<div class="bottom-links container-fluid">
    <div class="row align-items-center">
        <a class="col-md-6 links-col bg-dark wow zoomIn" data-wow-delay=".2s" data-wow-duration=".3s" href="#">
            <span class="text-uppercase">Plan a Project</span> Hire us
        </a>
        <a class="col-md-6 links-col secondary-col wow zoomIn" data-wow-delay=".4s" data-wow-duration=".5s" href="#">
            <span class="text-uppercase">Work with us</span> Join the team
        </a>
    </div>
</div>
<!--/.bottom links-->
<footer id="footer" class="footer  pt90 pb90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="ti-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="ti-google"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="ti-dribbble"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                </ul>
                <span>&copy; Copyright 2020. All Right Reserved. GEMS</span>
            </div>
        </div>
    </div>
</footer>
<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="./assets/html/js/plugins/plugins.js"></script>
<script src="./assets/html/js/gems.custom.js"></script>